html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

*, *::after, *::before {
  box-sizing: border-box; }

body {
  background-color: white; }

img {
  max-width: 100%; }

.border {
  color: black;
  display: table;
  height: 6px;
  margin-bottom: 4rem;
  text-align: center;
  width: 1200px; }

.card {
  background-color: #B2B2B2;
  display: block;
  padding: 3px;
  text-decoration: none; }

.card:hover {
  opacity: 0.7; }

.card-title {
  line-height: 0.5;
  font-size: 1.2rem;
  font-family: 'Helvetica neue', sans-serif;
  color: #fff;
  font-weight: 100;
  text-align: center; }

.grid {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px; }
  .grid::after {
    clear: both;
    content: "";
    display: table; }

.grid-small {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px; }
  .grid-small::after {
    clear: both;
    content: "";
    display: table; }

.grid-cell {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 31.76157%;
  padding-bottom: 1rem; }
  .grid-cell:last-child {
    margin-right: 0; }
  .grid-cell:nth-child(3n) {
    margin-right: 0; }
  .grid-cell:nth-child(3n+1) {
    clear: left; }

.header {
  padding-bottom: 30px; }

.header-logo {
  text-align: center; }

.header-logo-image {
  width: 180px;
  padding: 30px;
  padding-bottom: 50px; }

.u-hide {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.u-lines {
  display: table;
  margin-top: 1rem;
  text-align: center; }

.u-lines::before {
  background: linear-gradient(to bottom, #E3E3E3, #E3E3E3) no-repeat left center/95% 2px;
  content: "";
  display: table-cell;
  width: 50%; }

.u-lines::after {
  background: linear-gradient(to bottom, #E3E3E3, #E3E3E3) no-repeat right center/95% 2px;
  content: "";
  display: table-cell;
  width: 50%; }

.u-lines {
  display: table;
  text-align: center; }

.link {
  color: black;
  text-decoration: none; }

.link:hover {
  color: #525252;
  text-decoration: underline; }

.navigation {
  white-space: nowrap; }

.navigation-item {
  font-family: 'Helvetica neue', sans-serif;
  font-weight: 100;
  font-size: 17px;
  margin-left: 25px;
  text-decoration: none;
  color: #B3B3B3; }

.navigation-item.active {
  color: #525252;
  text-decoration: underline; }

.navigation-item:hover {
  color: #525252;
  text-decoration: underline; }

.page {
  width: 1200px;
  min-height: 80vh;
  margin: 0 auto 10vh; }

.pictures {
  transition: opacity 200ms ease;
  margin: auto; }

.pictures:hover {
  opacity: 0.7; }

.gallery.slick-initialized.slick-slider {
  margin-top: 10%; }

.slick-arrow.slick-prev::before {
  color: #575C5E; }

.slick-arrow.slick-next::before {
  color: #575C5E; }

/* the slides */
.slick-slide {
  margin: 0 50px; }

/* the parent */
.slick-list {
  margin: 0 -50px; }

.slick-slider {
  -webkit-tap-highlight-color: transparent; }

.social {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-family: 'Helvetica neue', sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: #566;
  border-radius: 11px;
  background: #eee;
  float: right;
  margin-top: 7%;
  margin-bottom: 2.8%;
  margin-right: 2%;
  text-decoration: none; }

.social:hover {
  opacity: 0.7; }

.text {
  font-family: "Helvetica neue", sans-serif;
  font-size: 1.8em;
  padding-left: 10%;
  font-weight: 200; }

.thumbnail {
  position: relative;
  margin: 0 auto; }

.thumbnail-title {
  display: none; }

.thumbnail:hover .thumbnail-image {
  opacity: 0.7; }

.title {
  font-size: 30px;
  font-family: 'Helvetica neue', sans-serif;
  font-weight: 300;
  color: #575C5E; }

.title--subtitle {
  color: #B3B3B3;
  font-size: 28px;
  font-weight: 100;
  line-height: 1;
  margin: 0;
  padding-top: 30px; }
