---
layout: social
group: navigation
title: blog
---
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Foundation | Welcome</title>
<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>
<body>

<h2 class="u-hide">MICHELLE LAMMERTS</h2>
<div class="u-lines--2">
  <nav class="navigation">
    {% if page.url == '/blog.html' %}
      <a href="/blog.html" class="navigation-item2 active">MAAND 1</a>
    {% else %}
      <a href="/blog.html" class="navigation-item2">MAAND 1</a>
    {% endif %}

    {% if page.url == '/blog2.html' %}
      <a href="/blog2.html" class="navigation-item2 active">MAAND 2</a>
    {% else %}
      <a href="/blog2.html" class="navigation-item2">MAAND 2</a>
    {% endif %}

    {% if page.url == '/blog3.html' %}
      <a href="/blog3.html" class="navigation-item2 active">MAAND 3</a>
    {% else %}
      <a href="/blog3.html" class="navigation-item2">MAAND 3</a>
    {% endif %}

    {% if page.url == '/blog4.html' %}
      <a href="/blog4.html" class="navigation-item2 active">MAAND4</a>
    {% else %}
      <a href="/blog4.html" class="navigation-item2">MAAND 4</a>
    {% endif %}
  </nav>
</div>
<div class="row medium-8 large-7 columns">
<div class="blog-post">
    <h3 class="title--bloghead"> Een nieuwe wereld <small class="title--blogdate">31/09/2015</small></h3>
    <img class="thumbnail" src="http://placehold.it/850x350">
    <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>

</div>
<div class="blog-post">
  <h3 class="title--bloghead">Awesome blog post title <small class="title--blogdate">3/6/2015</small></h3>
  <img class="thumbnail" src="http://placehold.it/850x350">
  <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>

</div>
<div class="blog-post">
  <h3 class="title--bloghead">Awesome blog post title <small class="title--blogdate">3/6/2015</small></h3>
  <img class="thumbnail" src="http://placehold.it/850x350">
  <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>

</div>
<div class="blog-post">
  <h3 class="title--bloghead">Awesome blog post title <small class="title--blogdate">3/6/2015</small></h3>
  <img class="thumbnail" src="http://placehold.it/850x350">
  <p>Praesent id metus massa, ut blandit odio. Proin quis tortor orci. Etiam at risus et justo dignissim congue. Donec congue lacinia dui, a porttitor lectus condimentum laoreet. Nunc eu ullamcorper orci. Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Nulla at nulla justo, eget luctus.</p>

</div>
</div>
  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
  <script>
      $(document).foundation();
  </script>
