.card {
  background-color: #b2b2b2;
  display: block;
  padding: 3px;
  text-decoration: none;
}

.card:hover {
  opacity: 0.7;
}

.card-title {
  color: #fff;
  font-family: "Helvetica neue", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 0.5;
  text-align: center;
}
