.card {
  background-color: #B2B2B2;
  display: block;
  padding: 3px;
  text-decoration: none;
}
.card-image {
}
.card-title {
  line-height: 0.5;
  font-size: 1.2rem;
  font-family: 'Helvetica neue', sans-serif;
  color: #fff;
  font-weight: 100;
  text-align: center;
}
.card:hover {
  opacity: 0.7;
}
