.header {
  padding-bottom: 30px;
}

.header-logo {
  text-align: center;
}

.header-logo-image {
  padding: 30px 30px 50px 30px;
  width: 180px;
}

.header--about {
  font-weight: 300;
  padding-left: 30px;
}
