.u-lines {
  display: table;
  margin-top: 1rem;
  text-align: center;
}

.u-lines::before {
  background: linear-gradient(to bottom, #e3e3e3, #e3e3e3) no-repeat left center / 95% 2px;
  content: "";
  display: table-cell;
  width: 50%;
}

.u-lines::after {
  background: linear-gradient(to bottom, #e3e3e3, #e3e3e3) no-repeat right center / 95% 2px;
  content: "";
  display: table-cell;
  width: 50%;
}

.u-lines--background {
  background: linear-gradient(to bottom, #e3e3e3, #e3e3e3) no-repeat left center/100% 2px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 1200px;
}

.u-lines--2 {
  display: table;
  margin-top: 1rem;
  text-align: center;
}

.u-lines--2::before {
  background: linear-gradient(to bottom, #fff, #fff) no-repeat left center / 95% 2px;
  content: "";
  display: table-cell;
  width: 50%;
}

.u-lines--2::after {
  background: linear-gradient(to bottom, #fff, #fff) no-repeat right center / 95% 2px;
  content: "";
  display: table-cell;
  width: 50%;
}

.u-lines--2--background {
  background: linear-gradient(to bottom, #fff, #fff) no-repeat left center/100% 2px;
  display: table;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 1200px;
}
