.navigation {
  white-space: nowrap;
}

.navigation-item {
  color: #b3b3b3;
  font-family: "Helvetica neue", sans-serif;
  font-size: 17px;
  font-weight: 100;
  margin-left: 25px;
  text-decoration: none;
}

.navigation-item.active {
  color: #525252;
  text-decoration: underline;
}

.navigation-item:hover {
  color: #525252;
  text-decoration: underline;
}

.navigation-item2 {
  color: #b3b3b3;
  font-family: "Helvetica neue", sans-serif;
  font-size: 17px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;

}

.navigation-item2:hover {
  color: #525252;
  text-decoration: underline;
}

.navigation-item2.active {
  color: #525252;
  text-decoration: underline;
}
