.page {
  width: 1200px;
  min-height:80vh;
  margin: 0 auto;
  margin-top: 0vh;
  margin-bottom: 10vh;
}
.Welcome {
  font-family:'Helvetica neue', sans-serif;
  font-weight: 200;
  font-size: 1em;
  text-align: center;
  padding-top: 60px;
}
 .name {
   font-family:'Helvetica neue', sans-serif;
   font-weight: 200;
   font-size: 0.7em;
   color:#fff;
   text-align: left;
   padding-top: 10px;
   padding-left: 6%;
 }
