
.subtitle {
  font-family:'Helvetica neue',sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: #575C5E;
}
.pictures {
  transition: opacity 200ms ease;
  margin: auto;
}
.pictures:hover {
  opacity: 0.7;
}
