.gallery.slick-initialized.slick-slider {
  margin-top: 10%;
}
.slick-arrow.slick-prev::before {
  color: $primary-color;
}
.slick-arrow.slick-next::before {
  color: $primary-color;
}
/* the slides */
.slick-slide {
  margin: 0 50px;
}
/* the parent */
.slick-list {
  margin: 0 -50px;
}
.slick-slider {
-webkit-tap-highlight-color: transparent;
}
