.social {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-family: 'Helvetica neue', sans-serif;
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  color: #566;
  border-radius: 11px;
  background: #eee;
  float: right;
  margin-top: 7%;
  margin-bottom: 2.8%;
  margin-right: 2%;
  text-decoration: none;
}

.social:hover {
  opacity: 0.7;
}
