
.table--topweek,
.table--date {
  padding: 10px 78px 10px 10px;
  background-color: #FCFFFF;
  color: #b3b3b3;
  font-size: .9em;
  font-weight: 200;
  border: 3px solid #fff;
}
.table--date {
  background-color: #409da0;
  color: #fff
}
.table {
  font-size: 1em;
  font-family: "Helvetica neue", sans-serif;
  font-weight:  200;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}
.table:first-of-type {
  margin-top: 0;
}
.table--top {
  background-color: #409da0;
  color: #fff;
  font-weight: lighter;
  border-color:#409da0;
}
.table--topname {
  padding: 5px;
  border-top:3px solid #fff;
  border-left: 3px solid #fff;
  font-weight: 200;
}
.table--days {
  background-color: #FCFFFF;
  color: #b3b3b3;
  border: 3px solid #fff;
  padding: 5px;
}

.table--info {
  font-weight: 100;
  border: 3px solid #fff;
  padding: 5px;
  color: #fff;
  background-color: #a6dbd6;
  font-size: .8em;
}
.table--infotot {
  background-color: #a6dbd6;
  border: 3px solid #fff;
  padding: 5px;
  color: #fff;
  font-size: .8em;
}
.table--infopauze {
  background-color: #a6dbd6;
  border: 3px solid #fff;
  padding: 5px;
  color: #fff;
  font-size: .8em;
}
.table--infouren {
  background-color: #a6dbd6;
  border: 3px solid #fff;
  color: #fff;
  padding: 5px;
  font-size: .8em;
}
.table--infoover {
  background-color: #a6dbd6;
  color: #fff;
  padding: 5px;
  border: 3px solid #fff;
  font-size: .8em;
}
.table--infotext {
  width: 300px;
  font-weight: 200;
  padding: 5px;
  color: #b3b3b3;
  background-color: #FCFFFF;
  border: 3px solid #fff;
  font-size: .8em;
}
.trimg {
  width:132px;
}
