
.text {
  font-family: "Helvetica neue", sans-serif;
  font-size: 1em;
  font-weight: 200;
  line-height: 1.35em;
  padding-left: 10%;
  padding-right: 10%;
}
.text--blog {
  padding: 20px 25% 30px 25%;
}
