.title {
  font-size: 30px;
  font-family: 'Helvetica neue',sans-serif;
  font-weight: 300;
  color: #575C5E;
}
.subtitle {
  color: #B3B3B3;
  font-size: 28px;
  font-family: 'Helvetica neue',sans-serif;
  line-height: 1;
  padding-top: 30px;
  font-weight: 100;
  margin: 0px;
}
