.title {
  font-size: 30px;
  font-family: 'Helvetica neue', sans-serif;
  font-weight: 300;
  color: #575C5E;
}

.title--subtitle {
  color: #B3B3B3;
  font-size: 28px;
  font-weight: 100;
  line-height: 1;
  margin: 0;
  padding-top: 30px;
}
