<!doctype html>
<html>
  {% include head.html %}
  <body>
    <div class="page">
      <div class="grid">
        {% include header.html %}
      </div>
      <div class="grid">
        {{ content }}
      </div>
  <!--  <div class="grid">
        <a href="https://www.facebook.com/michelle.lammerts" class="social">
          <div class="social">f</div>
          <a href=https://www.linkedin.com/profile/view?id=AAIAAAn-E6cB5FxQDXNAb3oWSgdP99c_QbIpxWY&trk=nav_responsive_tab_profile_pic class="social">
            <div class="social">in</div>
          </a>
        </a>
      </div> -->
      <div class="grid">
        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
